@import url('https://fonts.googleapis.com/css?family=Cousine&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cousine', sans-serif;
}

.screen{
    width: 100vw;
    height: 100vh;
}
.screen >#optionsBar{
    height: 5vh;
    background-color: #333333;
    display: flex;
    align-items: center;
}
.screen >#optionsBar >.brand{
    margin-left: 1%;
    font-size: 3.3vh;
    color: #fff;
}

.screen >#drawArea{
    
}